<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamDlcShopping.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamDlcShopping.App.Properties.Settings>
            <setting name="SessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamLoginSecure" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBlacklist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBlacklistReminder" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AutoBlacklistLastReminder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseMemeLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameSortColumn" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GameSortDescending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DlcSortColumn" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DlcSortDescending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenPageWithSteam" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamDlcShopping.App.Properties.Settings>
    </userSettings>
</configuration>